.hero-section {
  margin-top: 100px;

  @media (max-width: 1024px) {
    margin-top: 60px !important;
  }

  @media (max-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 460px) {
    margin-top: 65px !important;
  }
  // overflow: hidden;

  .slick-slider {
    width: 100%;

    .slick-list {
      margin: 0 -10px;
    }

    .slick-slide {
      padding: 0 10px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    // Custom dots style
    .slick-dots {
      bottom: 25px;

      li {
        button:before {
          font-size: 12px;
          color: white;
          opacity: 0.5;
        }

        &.slick-active button:before {
          opacity: 1;
          color: white;
        }
      }
    }
  }
}

// Responsive styles
@media screen and (max-width: 1024px) {
  .hero-section {
    .slick-slide img {
      height: 500px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    .slick-slider {
      .slick-dots {
        bottom: 10px;
        li {
          width: 10px;
          height: 10px;
        }
      }
    }

    .slick-slide {
      padding: 0 4px !important;

      img {
        width: 325px;
        height: 100px !important;
        object-fit: cover;
      }
    }
  }
}
