.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
}

.main-content {
  flex: 1 0 auto;
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  // padding: 0 16px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 0px;
  }
}
