@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  min-height: 100vh;
  background: #1a1a2ef2;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .notice-section {
    flex-direction: column;
    /* padding: 10px; */
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .app-container {
    padding: 0 0px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #0f1923;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.notice-section {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notice-dot {
  /* width: 10px;
  height: 10px; */
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  background-color: #ff4d4d;
  border-radius: 50%;
}

.footer-menu-mobile {
  background: linear-gradient(180deg, #00623b, #004127 50%, #00341f);
  border: 2px solid #004127;
  box-shadow: 0 0 10px 4px #00341f72;
}
.slick-track {
  margin-left: 0px !important;
}
.register-select .css-13cymwt-control,
.register-select .css-t3ipsp-control {
  background: rgb(88 88 88) !important;
  padding: 4px 0 !important;
}
.register-select .css-1dimb5e-singleValue {
  color: white !important;
  font-size: 14px;
}
.PhoneInput {
  border: 1px solid rgba(255, 255, 255, 0.379) !important;
  background: rgb(88 88 88) !important;
  padding: 10px 12px !important;
  border-radius: 5px !important;
}
