@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
select {
  background-color: #242424;
}
select option {
  background-color: #242424;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.common-container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
.second-bg {
  background-color: #1a1a1a;
}
.light-bg {
  background-color: #242424;
}
.second-border {
  border-color: #222222;
}
.light-border {
  border-color: #2b2b2b;
}
.profile-shadow {
  box-shadow: 0 10px 10px 5px #00000070;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.slide-item {
  width: 100%;
  max-height: 470px !important;
  overflow: hidden;
}
.slide-item img {
  width: 100%;
  max-height: 470px !important;
  object-fit: cover !important;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
body {
  background: #000;
}
.shimmer_title {
  width: 40%;
}
.shimmer_link {
  width: 60%;
}
.shimmer_description {
  width: 70%;
}
.shimmer {
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  background: #141414;
  padding-top: 1px;
}
.shimmer .shimmer_image-card {
  height: 37px;
  width: 37px;
  float: left;
  border-radius: 5px;
  margin-top: 7px;
}
.shimmer_stroke {
  height: 6px;
  background: #323232;
  margin-top: 8px;
  border-radius: 10px;
  float: right;
}

.shimmer_wrapper {
  width: 0px;
  animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}
.shimmer_animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #595959 5%, #ccccccbf 25%, #595959 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

.download-btn {
  font-size: 12px !important;
  max-width: 120px !important;
  padding: 0 7px !important;
  max-height: 30px !important;
}
